
.txtBlanchisserie{
	-fx-font-size : 40px;
	-fx-font-weight : bold;
	-fx-font-family : "Lily Script One";
	-fx-text-align : center;
}

.cadreForm{
	-fx-background-color : #83ACE7;
	-fx-background-radius : 30px;
	-fx-alignment : center;
}
.backbleu{
    -fx-background-color : #83ACE7;
}

.form{
	-fx-background-color : #ffffff;
	-fx-background-radius : 10px;
	-fx-padding : 0px 0px 0px 10px;
}

.form2{
	-fx-border-color : #83ACE7;
}

.textbleu{
	-fx-text-fill : #83ACE7;
	-fx-font-family : "Lily Script One";
}

.checkbox{
	-fx-opacity : 1;
}

.buttonBleu{
	-fx-background-color : #83ACE7;

}
.titleTextfield{
	-fx-font-size : 10px;
}

.buttonBlanc{
	-fx-text-fill : #83ACE7;
	-fx-background-color : #FFFFFF;
	-fx-font-size : 10px;
}

.btnActive{
    -fx-background-color :  #34495E;
    -fx-text-fill : #FFFFFF;
}

.backVetement{
    -fx-background-color : #D9D9DC
}

.cardreArondiStockage{
    -fx-background-color : #83ACE7;
    -fx-background-color: rgba(131, 172, 231, 0.3);
    -fx-border-radius : 50px;
}